
        html {
            height: 100%;
        }
        body {
            margin: 0;
             height: 200vh;
            min-height: 100%;
          background: #000017;
          overflow-y: scroll;}

        .screen {
          position: fixed;
          overflow: hidden;
          /*z-index: 3; */
          width: 100%;
          height: 100%;
          display: block;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;}

        .background {
        position: absolute;
        width: 200%;
        height: 100%;
        top: 0;
        left: 0; }
