  /*  .building{
  /*
  position: absolute;
  z-index: 7;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;}
.building::before {
 opacity: 1;
  background: url('../Images_1/building_2.svg') left center no-repeat;
  background-size: auto 100% ;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;} */

  .building{
    /* position: fixed; */
    position: absolute;
    z-index: 7;
    display: block;
    opacity: .55;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;}
  .building::before {
   opacity: 1;
    background: url('../Images_2/buildings_back_normal_55.svg') left center no-repeat;
    background-size: auto 100% ;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;}

    .objects {
      /* position: fixed; */
      position: absolute;
      z-index: 7;
      display: block;
      opacity: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;}
    .objects::before {
     opacity: 1;
      background: url('../Images_2/landscape_objects_long.svg') left center no-repeat;
      background-size: auto 100% ;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;}


      .floor_1 {
        /* position: fixed; */
        position: absolute;
        z-index: 18;
        display: block;
        opacity: 1;
        top: 5vh;
        left: 0;
        right: 0;
        bottom: 0;}
      .floor_1::before {
       opacity: 1;
        background: url('../Images_2/floor_1.svg') left center no-repeat;
        background-size: auto 100% ;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;}
